CACHE MANIFEST
# v1-{{version}}-{{open}}

# only allow these CDNs
NETWORK:
{{#if open}}
*
{{else}}
{{root}}
{{root}}/js/prod/runner-{{version}}.min.js
http://maxcdn.bootstrapcdn.com
http://ajax.googleapis.com
http://cdn.firebase.com
http://cdn.jsdelivr.net
http://cdn.popcornjs.org
http://cdn.ractivejs.org
http://cdn.rawgit.com
http://cdnjs.cloudflare.com
http://code.jquery.com
http://fb.me
http://modernizr.com
http://rawgit.com
http://unpkg.com
http://www.promisejs.org
http://yui.yahooapis.com
http://zeptojs.com
http://aui-cdn.atlassian.com
http://cdn.sencha.io
http://code.getmdl.io
http://code.ionicframework.com
http://da7xgjtj801h2.cloudfront.net
http://enyojs.com
http://extjs.cachefly.net
http://nightly.enyojs.com
http://static.jsbin.com
http://vjs.zencdn.net
{{/if}}
